<div>
    <div class="text-center">
        <h4>Информация о посетителе</h4>
    </div>
    <div>
        <div>
            <h3 ng-bind="customer.name" ng-show="customer.name.length"></h3>
            <h3 ng-bind="'#'+customer.id" ng-show="customer.id.length"></h3>
        </div>
        <div class="customer-volatile">
            <span ng-cloak ng-bind="timeTotal | msToTime"></span>
            <span ng-cloak ng-bind="moneyTotal | rubleCurrency : 0"></span>
        </div>
        <hr>
        <div role="group">
            <button type="button" class="btn btn-info btn-block" ng-click="checkOut()">Рассчитать</button>
            <button type="button" class="btn btn-info btn-block" ng-click="changeDiscount()">Изменить скидку
            </button>
        </div>
        <hr>
        <form class="form" name="order_form" ng-submit="order_form.$valid && addOrder()" novalidate>
            <div class="form-group">
                <input type="text" class="form-control input-md" placeholder="Заказ"
                       name="description" ng-model="newOrder.description" minlength="3"
                       ng-class="{highlight : order_form.$invalid&&order_form.description.$touched}" required>
            </div>
            <div class="form-group">
                <input placeholder="Цена" type="number" class="form-control input-md" min="0" name="price"
                       ng-model="newOrder.price" ng-class="{highlight : order_form.price.$invalid}">
            </div>
            <button type="submit" class="btn btn-success btn-block">Добавить заказ</button>
        </form>
        <hr>
        <table class="table table-hover" ng-show="customer.orders.length">
            <thead>
            <tr>
                <th>Заказ</th>
                <th>Цена</th>
                <th style="width: 50px"></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="order in customer.orders">
                <td ng-bind="order.description"></td>
                <td ng-bind="order.price"></td>
                <td ng-click="deleteOrder(order)"><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>