<!-- Modal content-->
<div>
    <div class="modal-header text-center">
        <h4>Информация о посетителе</h4>
    </div>
    <div id="customer-details">
        <h2 id="customer-details-name" ng-bind="customer.name"></h2>
        <h2 id="customer-details-id" ng-bind="customer.id"></h2>
        <div>
            <span ng-cloak ng-bind="timeTotal|msToTime" id="customer-details-time"></span>
        </div>
        <div>
            <span ng-cloak ng-bind="moneyTotal" id="customer-details-money"></span>
        </div>
        <div role="group" id="customer-details-buttons">
            <button type="button" class="btn btn-info btn-block" id="customer-details-checkout-btn">Рассчитать</button>
            <button type="button" class="btn btn-info btn-block" id="customer-details-discount-btn">Добавить скидку
            </button>
        </div>
        <form class="form" id="add-order-form" name="order_form" ng-submit="order_form.$valid && addOrder()" novalidate>
            <div class="form-group">
                <input type="text" class="form-control input-md" placeholder="Заказ" id="add-order-name"
                       name="order_desc" ng-model="newOrder.description" required>
            </div>
            <div class="form-group">
                <input placeholder="Цена" type="number" class="form-control input-md" id="add-order-price" name="order_price"
                       ng-model="newOrder.price">
            </div>
            <button type="submit" class="btn btn-success btn-block" id="add-order-form-btn">Добавить заказ</button>
        </form>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Заказ</th>
                <th>Цена</th>
                <th style="width: 50px"></th>
            </tr>
            </thead>
            <tbody id="order-list">
            <tr ng-repeat="order in customer.orders">
                <td ng-bind="order.description"></td>
                <td ng-bind="order.price"></td>
                <td ng-click="deleteOrder(order)"><span class="glyphicon glyphicon-remove"></span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>