<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Loft cafe</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<body ng-app="loft">
  <div class="jumbotron">
    <div class="container text-center">
      <h2>Loft cafe</h2>
    </div>
  </div>
  <section ng-controller="MainController">
    <form id="customer-add-form" name="customer_form" class="form-inline text-center" ng-submit="addCustomer()" novalidate>
      <div class="form-group">
        <input type="text" class="form-control input-lg" ng-model="newCustomer.name" name="customer_name" placeholder="Имя" autofocus ng-required="!(newCustomer.id||newCustomer.name)">
      </div>
      <div class="form-group">
        <input class="form-control input-lg" ng-model="newCustomer.id" name="customer_id" placeholder="Номер" ng-required="!(newCustomer.id||newCustomer.name)">
      </div>
      <div class="form-group">
        <input class="form-control input-lg" name="customer_discount" placeholder="Скидка в процентах">
      </div>
      <div class="form-group">
        <input class="form-control input-lg" name="customer_discount_minutes" placeholder="Скидка в минутах">
      </div>
      <button class="btn btn-primary btn-lg" type="submit" id="customer-add-btn">Добавить посетителя</button>
      <button class="btn btn-danger btn-lg" onclick="resetList()">Удалить всех</button>
    </form>
    <div style="margin:50px"></div>
    <div class="container">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Имя</th>
            <th>Номер</th>
            <th>Время</th>
            <th>Бабосики</th>
          </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers" loft-customer customer="customer"></tr>
        </tbody>
      </table>
    </div>
    <!-- Modal -->

    <!-- Modal end -->
    <audio id="audio">
        <source src="https://www.dropbox.com/s/23hg1437ia1oiwx/miha.ogg?dl=1" />
    </audio>
    <div id="clearfix" style="display: none; width: 260px; height: 500px; position: fixed; top: 0; left:0;"></div>
  </section>
  <script src="js/angular_1.5.8.js"></script>
  <script src="js/ngDialog.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
